<% include partials/header %>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 align-items-start flex-column">
        <div class="list-group">
          <li id="sideBarHead" class="list-group-item">SideBar</li>
          <li class="list-group-item">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
          <li class="list-group-item">Info 1</li>
          <li class="list-group-item">Info 2</li>
          <li class="list-group-item">Info 3</li>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row d-flex align-items-end mx-auto">
          <!-- display search engine -->
          <div class="col-md-4 elementsAboveTitleTableListPage" id="">
            <div class="form-group mb-1">
              <form action="#" method="GET">
                <label for="searchListCvs"></label>
                <input
                  type="text"
                  id="searchListCvs"
                  class="form-control inputSearchEngine form-control-lg"
                  placeholder="Buscar CV no Site"
                  name="searchCV"
                  onkeyup="searchEngineFunction()"
                />
              </form>
            </div>
          </div>
          <!-- display button to add a new cv -->
          <div class="col-md-4 elementsAboveTitleTableListPage">
            <div class="form-group mb-1 mx-1">
              <form action="/new" method="GET">
                <button class="btn btn-sm btn-color m-0">
                  Criar Novo Currículo
                </button>
              </form>
            </div>
          </div>
          <!--		Show Numbers Of Rows 		-->
          <div class="col-md-4 elementsAboveTitleTableListPage">
            <div class="form-group mb-1">
              <select
                class="form-control form-control-lg inputSearchEngine"
                name="state"
                id="maxRows"
              >
                <option value="5">5 Resultados por Página</option>
                <option value="10">10 Resultados por Página</option>
                <option value="15">15 Resultados por Página</option>
                <option value="20">20 Resultados por Página</option>
                <option value="50">50 Resultados por Página</option>
                <option value="70">70 Resultados por Página</option>
                <option value="100">100 Resultados por Página</option>
                <option value="5000">Show ALL Rows</option>
              </select>
            </div>
          </div>
        </div>
        <table class="table" id="tableListCvs">
          <div>
            <h1 class="h1ListPage mb-1">Currículos armazenados em sistema</h1>
          </div>
          <thead id="headTable">
            <tr>
              <th>
                Nome
              </th>
              <th>
                Qualificação
              </th>
              <th class="itemsCenter">
                Ver CV Completo
              </th>
            </tr>
          </thead>
          <tbody id="tbodyListPage">
            <% cv.forEach(function(cvs){ %>
            <tr class="rowTableListPage">
              <td>
                <%= cvs.firstName %> <%= cvs.lastName %>
              </td>
              <td>
                <%= cvs.applicationDescription %>
              </td>
              <td class="itemsCenter">
                <a href="/<%= cvs._id %>"><i class="fas fa-book-open"></i></a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!--		Start Pagination -->
    <div class="pagination-container d-flex flex-row-reverse">
      <nav>
        <ul class="pagination">
          <li data-page="prev">
            <span> Anterior <span class="sr-only">(current)</span></span>
          </li>
          <!--	Here the JS Function Will Add the Rows -->
          <li data-page="next" id="prev">
            <span> Proxímo <span class="sr-only">(current)</span></span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- ============================================== SEARCH ENGINE SCRIPT ============================================= -->
<script>
  function searchEngineFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchListCvs");
    filter = input.value.toUpperCase();
    table = document.getElementById("tableListCvs");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
<!-- ============================================== PAGINATION SCRIPT ================================================ -->
<script>
  getPagination("#tableListCvs");
  //getPagination('.table-class');
  //getPagination('table');

  /*					PAGINATION 
		  - on change max rows select options fade out all rows gt option value mx = 5
		  - append pagination list as per numbers of rows / max rows option (20row/5= 4pages )
		  - each pagination li on click -> fade out all tr gt max rows * li num and (5*pagenum 2 = 10 rows)
		  - fade out all tr lt max rows * li num - max rows ((5*pagenum 2 = 10) - 5)
		  - fade in all tr between (maxRows*PageNum) and (maxRows*pageNum)- MaxRows 
		  */

  function getPagination(table) {
    var lastPage = 1;

    $("#maxRows")
      .on("change", function(evt) {
        //$('.paginationprev').html('');						// reset pagination

        lastPage = 1;
        $(".pagination")
          .find("li")
          .slice(1, -1)
          .remove();
        var trnum = 0; // reset tr counter
        var maxRows = parseInt($(this).val()); // get Max Rows from select option

        if (maxRows == 5000) {
          $(".pagination").hide();
        } else {
          $(".pagination").show();
        }

        var totalRows = $(table + " tbody tr").length; // numbers of rows
        $(table + " tr:gt(0)").each(function() {
          // each TR in  table and not the header
          trnum++; // Start Counter
          if (trnum > maxRows) {
            // if tr number gt maxRows

            $(this).hide(); // fade it out
          }
          if (trnum <= maxRows) {
            $(this).show();
          } // else fade in Important in case if it ..
        }); //  was fade out to fade it in
        if (totalRows > maxRows) {
          // if tr total rows gt max rows option
          var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
          //	numbers of pages
          for (var i = 1; i <= pagenum; ) {
            // for each page append pagination li
            $(".pagination #prev")
              .before(
                '<li data-page="' +
                  i +
                  '">\
								      <span>' +
                  i++ +
                  '<span class="sr-only">(current)</span></span>\
								    </li>'
              )
              .show();
          } // end for i
        } // end if row count > max rows
        $('.pagination [data-page="1"]').addClass("active"); // add active class to the first li
        $(".pagination li").on("click", function(evt) {
          // on click each page
          evt.stopImmediatePropagation();
          evt.preventDefault();
          var pageNum = $(this).attr("data-page"); // get it's number

          var maxRows = parseInt($("#maxRows").val()); // get Max Rows from select option

          if (pageNum == "prev") {
            if (lastPage == 1) {
              return;
            }
            pageNum = --lastPage;
          }
          if (pageNum == "next") {
            if (lastPage == $(".pagination li").length - 2) {
              return;
            }
            pageNum = ++lastPage;
          }

          lastPage = pageNum;
          var trIndex = 0; // reset tr counter
          $(".pagination li").removeClass("active"); // remove active class from all li
          $('.pagination [data-page="' + lastPage + '"]').addClass("active"); // add active class to the clicked
          // $(this).addClass('active');					// add active class to the clicked
          $(table + " tr:gt(0)").each(function() {
            // each tr in table not the header
            trIndex++; // tr index counter
            // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
            if (
              trIndex > maxRows * pageNum ||
              trIndex <= maxRows * pageNum - maxRows
            ) {
              $(this).hide();
            } else {
              $(this).show();
            } //else fade in
          }); // end of for each tr in table
        }); // end of on click pagination list
      })
      .val(5)
      .change();

    // end of on select change

    // END OF PAGINATION
  }

  // $(function() {
  //   // Just to append id number for each row
  //   $("table tr:eq(0)").prepend("<th> ID </th>");

  //   var id = 0;

  //   $("table tr:gt(0)").each(function() {
  //     id++;
  //     $(this).prepend("<td>" + id + "</td>");
  //   });
  // });

  //  Developed By Yasser Mas
  // yasser.mas2@gmail.com
</script>

<% include partials/footer %>
