body {
  background-color: #e3ede4;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}
table {
  border: #033733 solid 1px;
  text-align: start;
}
.navbar {
  background-color: #033733;
  color: #e3ede4;
  padding: 0;
}
.nav-link {
  color: #e3ede4;
}
.fa-book-open {
  color: #033733;
}
.list-group-item {
  background-color: transparent;
}
.navbar-brand {
  font-size: 2.5rem;
  padding: 0;
}
.wrapper {
  max-width: 90%;
  margin: 50px auto;
}
.page-item .page-link {
  color: #033733;
}
.btn-color {
  background-color: #033733;
  color: #e3ede4;
  font-size: 1.6rem;
  margin-bottom: 4px;
  width: 100%;
}
.elementsAboveTitleTableListPage {
  line-height: 0%;
  padding: 0px;
  max-width: 100%;
  margin-top: -8px;
}
.h1ListPage {
  text-align: center;
  padding: 10px 0;
  font-size: 2.8rem;
  background-color: #370307;
  color: #e3ede4;
}
.radio-space {
  margin-right: 2rem;
}
textarea {
  width: 100%;
}
.custom-control-label::before,
.custom-control-label::after {
  width: 1.3rem;
  height: 1.3rem;
}
.fa-plus-square {
  margin: 33px 0 0 0;
  font-size: 50px;
  color: #033733;
}
.itemsCenter {
  text-align: center;
}
div.form-group.form-head-center {
  text-align: center;
  border: solid 1px #033733;
  background-color: #caebcc;
  margin: 40px auto 20px auto;
  line-height: 0;
}
.campoExtra {
  display: none;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  background-color: #caebcc;
}
#headTable {
  background-color: #033733;
  color: #e3ede4;
}
#sideBarHead {
  background-color: #370307;
  color: #e3ede4;
}
/* ============================================== DETAIL PAGE ================================================== */

.tableDetailPage {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  border: 0px;
}
td {
  padding: 20px 15px 20px 15px;
  line-height: 0rem;
}
.titleDetailPage {
  text-align: center;
  background-color: #033733;
  color: #e3ede4;
  margin: 5px 0;
}
#fullNameDetailPAge {
  margin: 10px 0px;
  line-height: 0rem;
}
