/* ********** style in all pages ********** */
body {
  background-color: #e3ede4;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}
table {
  border: #00130c solid 1px;
  height: 30px;
  line-height: 30px;
}
.navbar {
  background-color: #00130c;
  color: #e3ede4;
  padding: 0;
}
.nav-link {
  color: #e3ede4;
}
.list-group-item {
  background-color: transparent;
}
.navbar-brand {
  font-size: 2.5rem;
  padding: 0;
}
.page-item .page-link {
  color: #00130c;
}
textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(3, 55, 51, 0.8);
  box-shadow: 0 1px 1px rgba(3, 55, 51, 0.075) inset,
    0 0 8px rgba(3, 55, 51, 0.6);
  outline: 0 none;
}
/* **********  Style in List Page ********** */
.table th,
.table td {
  vertical-align: middle;
}
.fa-book-open {
  color: #00130c;
}
.fa-book-open:hover {
  color: #033733;
}
.wrapper {
  max-width: 90%;
  margin: 50px auto;
}
.btn-color {
  background-color: #00130c;
  color: #e3ede4;
  font-size: 1.6rem;
  margin-bottom: 4px;
  width: 100%;
}
.btn-color:hover,
.nav-link:hover {
  background-color: #00130c;
  color: #e3ede4;
  font-weight: 600;
}
.elementsAboveTitleTableListPage {
  line-height: 0%;
  padding: 0px;
  max-width: 100%;
  margin-top: -8px;
}
.inputSearchEngine:focus {
  background-color: #e3ede4;
  color: #00130c;
  border-color: rgba(3, 55, 51, 0.8);
  box-shadow: 0 1px 1px rgba(3, 55, 51, 0.075) inset,
    0 0 8px rgba(3, 55, 51, 0.6);
  outline: 0 none;
}
.inputSearchEngine {
  background-color: #e3ede4;
  color: #00130c;
  border-color: rgba(3, 55, 51, 0.8);
}
placeholder.inputSearchEngine {
  color: #e3ede4;
}
.h1ListPage {
  text-align: center;
  padding: 10px 0;
  font-size: 2.8rem;
  background-color: #033733;
  color: #e3ede4;
}
.rowTableListPage {
  height: 40px;
  line-height: 40px;
}
#headTable {
  background-color: #00130c;
  color: #e3ede4;
}
#sideBarHead {
  background-color: #033733;
  color: #e3ede4;
  line-height: 40px;
  font-size: 1.7rem;
}
.pagination li {
  background-color: #033733;
  color: #e3ede4;
  padding: 0.5rem;
  text-align: right;
}
.pagination li:hover {
  cursor: pointer;
  background-color: #e3ede4;
  color: #033733;
}
#tableListCvs tr:nth-child(2n) {
  background-color: white;
}
/* ********** New.js Page ********** */
.radio-space {
  margin-right: 2rem;
}
textarea {
  width: 100%;
}
.custom-control-label::before,
.custom-control-label::after {
  width: 1.3rem;
  height: 1.3rem;
}
.fa-plus-square {
  margin: 33px 0 0 0;
  font-size: 50px;
  color: #00130c;
}
.itemsCenter {
  text-align: center;
}
div.form-group.form-head-center {
  text-align: center;
  border: solid 1px #00130c;
  background-color: #caebcc;
  margin: 40px auto 20px auto;
  line-height: 0;
}
.campoExtra {
  display: none;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  background-color: #caebcc;
}
/* ********** DETAIL PAGE ********** */
.tableDetailPage {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  border: 0px;
}
td {
  padding: 20px 15px 20px 15px;
  line-height: 0rem;
}
.titleDetailPage {
  text-align: center;
  background-color: #00130c;
  color: #e3ede4;
  margin: 5px 0;
}
#fullNameDetailPAge {
  margin: 10px 0px;
  line-height: 0rem;
}
